.wp_main_short_code_remove{
	margin-top: 20px;
}
.Add_more_checkbox{
	margin-top: 20px;
}
.remove_check_box{
	margin-top: 20px;
}

.remove_radio_button{
     margin-top: 20px;
}

.add_more_radio_button{
     margin-top: 20px;
}
.short_code_form_design{
     color: #666; 
     background: #fff; 
     background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); 
     border: 1px solid #bbb; 
     -webkit-border-radius: 3px; 
     border-radius: 3px; 
     display: block; 
     padding: 0.7em; 
     width: 100%; 
}

.short_code_checkbox_inline{
     position: relative;
     display: inline-block;
     padding-left: 20px;
     margin-bottom: 0;
     font-weight: 400;
     vertical-align: middle;
     cursor: pointer;
}


